################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/Downloads
/Export
/bin
/.idea
/TTCCashRegister.csproj.DotSettings.user
/TTCCashRegister.sln.DotSettings.user
/DBbackup/
*.tar

# Test project build artifacts
/TTCCashRegister.Tests/bin/
/TTCCashRegister.Tests/obj/
/docker-compose.test.yml
/dev-container.sh
/migrate.load
