################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/Downloads
/Export
/bin
/.idea
/TTCCashRegister.csproj.DotSettings.user
/TTCCashRegister.sln.DotSettings.user
/DBbackup/
*.tar
