@page "/notfound"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["NotFound"]</PageTitle>

<LayoutView Layout="typeof(MainLayout)">
<p role="alert">@Localizer["NotFoundMessage"]</p>
</LayoutView>
@code {
    
}