@page "{id}"
@using Microsoft.Extensions.Localization
@using TTCCashRegister
@model TTCCashRegister.Areas.Identity.Pages.Account.Manage.RenamePasskeyModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Translation> Localizer
@{
    ViewData["Title"] = Localizer["RenamePasskey"];
    ViewData["ActivePage"] = TTCCashRegister.Areas.Identity.Pages.Account.Manage.ManageNavPages.Passkeys;
}

<form method="post">
    @if (Model.CurrentPasskeyName is { } name)
    {
        <h4>@string.Format(Localizer["EnterNewPasskeyName"].Value, name)</h4>
    }
    else
    {
        <h4>@Localizer["EnterPasskeyName"]</h4>
    }
    <hr class="id-divider" />
    <div asp-validation-summary="ModelOnly" class="id-validation-summary" role="alert"></div>
    <div class="id-input-group">
        <input asp-for="Input.Name" aria-required="true" placeholder=" " />
        <label asp-for="Input.Name">@Localizer["PasskeyName"]</label>
        <span asp-validation-for="Input.Name" class="id-validation"></span>
    </div>
    <button type="submit" class="id-btn id-btn-primary id-btn-full">@Localizer["Continue"]</button>
</form>
