@page "{id}"
@model TTCCashRegister.Areas.Identity.Pages.Account.Manage.RenamePasskeyModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Rename passkey";
    ViewData["ActivePage"] = TTCCashRegister.Areas.Identity.Pages.Account.Manage.ManageNavPages.Passkeys;
}

<form method="post">
    @if (Model.CurrentPasskeyName is { } name)
    {
        <h4>Enter a new name for your "@name" passkey</h4>
    }
    else
    {
        <h4>Enter a name for your passkey</h4>
    }
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="My passkey" />
        <label asp-for="Input.Name" class="form-label">Passkey name</label>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
    </div>
</form>
