@using Microsoft.Extensions.Localization
@using TTCCashRegister
@inject IStringLocalizer<Translation> Localizer
@{
    Layout = "/Pages/_Layout.cshtml";
}

<nav class="id-appbar">
    <a href="/" class="id-appbar-title">@Localizer["ClubCash"]</a>
    <a href="/" class="id-appbar-back">@Localizer["BackToApp"]</a>
</nav>

@RenderBody()

@RenderSection("Scripts", required: false)
