@using Microsoft.Extensions.Localization
@inherits LayoutComponentBase
@layout MainLayout
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["ManageAccount"]</PageTitle>

<div class="identity-page">
    <div class="id-manage-layout">
        <div class="id-manage-sidebar">
            <ManageNavMenu />
        </div>
        <div class="id-manage-content">
            <div class="id-paper">
                @Body
            </div>
        </div>
    </div>
</div>
