@page "/import-transaction-dialog"
@inject ImportBookingJournalService ImportBookingJournalService

<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.subtitle1">Select a file to import data from booking journal. Table name must be "Buchungen"</MudText>
        <MudForm>
            <MudFileUpload T="IBrowserFile" 
                           FilesChanged="UploadFiles"
                           Accept="*.xlsx/*.ods">
                <ActivatorContent>
                    <MudButton Class="mb-2"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               >
                        Select file
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>
            <MudTextField Disabled="true" @bind-Value="_fileName" Label="Filename" Placeholder="Filename" Required="true"/>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="ImportData"
                   Disabled="@isImporting"
                   Variant="Variant.Filled"
                   Color="Color.Primary">
            @if (isImporting)
            {
                <MudProgressCircular Size="Size.Medium" Class="mr-2" />
                <a>Importing...</a>
            }
            else
            {
                <a>Import</a>
            }
        </MudButton>

        <MudButton Variant="Variant.Text" Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    private string _fileName = string.Empty;
    
    private IBrowserFile _file;
    private Task UploadFiles(IBrowserFile file)
    {
        _file = file;
        _fileName = file.Name;
        return Task.CompletedTask;
    }

    private bool isImporting = false;

    private async Task ImportData()
    {
        if (_file != null && !isImporting)
        {
            isImporting = true;
            try
            {
                await using var stream = _file.OpenReadStream();
                var result = await ImportBookingJournalService.ImportTransactions(stream);
                MudDialog.Close(DialogResult.Ok(result));
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Fehler beim Importieren der Datei: {ex.Message}");
                MudDialog.Close(DialogResult.Ok(false));
            }
            finally
            {
                isImporting = false;
            }
        }
    }

    private void Cancel()
    {
        MudDialog.Cancel();
    }
}