@page "/Account/AccessDenied"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["AccessDenied"]</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>@Localizer["AccessDenied"]</h1>
        <p>You do not have access to this resource.</p>
    </div>
</div>
