@page "/Account/ForgotPasswordConfirmation"
@attribute [AllowAnonymous]

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["ForgotPasswordConfirmation"]</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>@Localizer["ForgotPasswordConfirmation"]</h1>
        <p>@Localizer["CheckEmailToResetPassword"]</p>
    </div>
</div>
