@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>Invalid password reset</h1>
        <p>The password reset link is invalid. Please <a href="Account/ForgotPassword">request a new one</a>.</p>
    </div>
</div>
