@page "/Account/InvalidUser"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["InvalidUser"]</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>@Localizer["InvalidUser"]</h1>
        <StatusMessage />
    </div>
</div>