@page "/Account/InvalidPasswordReset"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["InvalidPasswordReset"]</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>@Localizer["InvalidPasswordReset"]</h1>
        <p>@Localizer["InvalidPasswordResetLink"] <a href="Account/ForgotPassword">@Localizer["RequestNewOne"]</a>.</p>
    </div>
</div>