@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>Locked out</h1>
        <p role="alert">This account has been locked out, please try again later.</p>
    </div>
</div>
