@page "/Account/ResetPasswordConfirmation"

<PageTitle>Reset password confirmation</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>Reset password confirmation</h1>
        <p>Your password has been reset. Please <a href="Account/Login">click here to log in</a>.</p>
    </div>
</div>
