@page "/Account/ResetPasswordConfirmation"
@attribute [AllowAnonymous]

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Translation> Localizer

<PageTitle>@Localizer["ResetPasswordConfirmation"]</PageTitle>

<div class="identity-page">
    <div class="id-paper">
        <h1>@Localizer["ResetPasswordConfirmation"]</h1>
        <p>@Localizer["PasswordHasBeenReset"] <a href="Account/Login">@Localizer["ClickHereToLogIn"]</a>.</p>
    </div>
</div>